<div class="comment">
    <div class="comment-header">
        <div class="comment-author-avatar">
            <!-- You can add an image here or use an icon font -->
        </div>
        <div class="comment-meta">
            <div class="comment-author">Jane Doe</div>
            <div class="comment-date">July 22, 2023</div>
        </div>
        <div class="comment-actions">
            <button class="comment-edit-btn">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
    </div>
    <div class="comment-content">This is a great blog post!</div>
    <div class="comment-buttons">
        <div class="comment-buttons-left">
            <button class="comment-like-btn">
                <i class="fa-solid fa-heart"></i>
                <p class="like-counter"> 3</p>
            </button>
            <button class="comment-replies-btn">
                <i class="fa-solid fa-comment"></i>
                <p class="reply-counter"> 0</p>
            </button>
        </div>
        <button class="comment-reply-btn">
            <i class="fa-solid fa-reply"></i>
        </button>
    </div>
</div>