.comments-container {
	margin: 20px;
    display: flex;
    justify-content: center;
}

.comments-section {
    width: 40%;
	margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.comments-section h3 {
	display: flex;
    align-self: flex-start;
	margin-bottom: 2em;
    margin-left: 25px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 80%;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
}

.comment-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.comment-author-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ddd;
	/* You can add an image or icon font here */
}

.comment-meta {
	margin-left: 10px;
}

.comment-author {
	font-weight: bold;
}

.comment-date {
	font-size: 12px;
	color: #888;
}

.comment-content {
	line-height: 1.4;
    font-size: smaller;
}

/* Optional styling for comment form */
.comment-form {
	margin-top: 20px;
}

.comment-form textarea {
	width: 100%;
	height: 100px;
	resize: vertical;
}

.comment-actions {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-like-btn,
.comment-reply-btn,
.comment-replies-btn,
.comment-edit-btn {
    display: flex;
	background: none;
	border: none;
	padding: 5px;
	color: #888;
	cursor: pointer;
}

.comment-like-btn:hover,
.comment-reply-btn:hover,
.comment-replies-btn:hover,
.comment-edit-btn:hover {
	color: #555;
}

.comment-edit-btn {
	font-size: 18px;
}

.comment-reply-replies {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
}

.comment-replies-btn {
	background: none;
	border: none;
	color: #888;
	cursor: pointer;
	margin-right: 10px;
    display: flex;
}

.comment-replies-btn:hover {
	color: #555;
}
.comment-actions {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-like-btn,
.comment-reply-btn,
.comment-replies-btn,
.comment-edit-btn {
	background: none;
	border: none;
	padding: 5px;
	color: #888;
	cursor: pointer;
    display: flex;
    align-items: center;
}

.fa-heart {
    height: 20px;
    display: flex;
}

.comment-like-btn:hover,
.comment-reply-btn:hover,
.comment-replies-btn:hover,
.comment-edit-btn:hover {
	color: #555;
}

.comment-edit-btn {
	font-size: 18px;
	margin: 1em 1em 0px 0px;
}

.comment-buttons {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 2em;
}

.comment-buttons-left {
	display: flex;
	align-items: center;
}

.comment-replies-btn {
	background: none;
	border: none;
	color: #888;
	cursor: pointer;
	margin-right: 10px;
}

.comment-replies-btn:hover {
	color: #555;
}

.like-counter,
.reply-counter {
    margin: 0px 25px 0px 5px;
    padding: 0px;
    display: flex;
    font-size: smaller;
}

/* Optional styling for Font Awesome icons */
/* You can link to Font Awesome or upload the font files locally */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
